
@{
    ViewBag.Title = "Sorry! We have reached our limit on this date.";
}

<body id="resvSorryPage">
    <div class="resvErrorPageContainer">
        <h1 class="listSubheader" id="resvSorry">@ViewBag.Title</h1>
        <div>
            <div class="resvSorryContent">
                <h4 class="listSubheader" id="resvSorry">
                    Please <a href="~/Home/Contact">Contact Us</a>
                    or <a href="~/Reservations/Create">try another date or location.</a>
                </h4>
            </div>
        </div>
    </div>
</body>