@{
    ViewBag.Title = "Leading the Way in Pet Day Care, Boarding, & More";
}
<div class="row" id="aboutContainer">

    <!-- Article main content -->
    <article class="col-sm-8 maincontent">
        <header class="page-header">
            <h1 class="page-title" id="aboutPageTitle">@ViewBag.Title</h1>
        </header>
        <h3 class="headerThree">Your Pets are Family</h3>
        <div id="aboutP">
            <p>
                <img src="~/Content/assets/images/site/aboutpage.jpg" alt="indoor play area for dogs"
                     class="img-rounded pull-right" width="300" height="200" id="aboutPic"> It’s important to get to know
                your pet care provider, as you are trusting us with a member of your family.
                At Paws n' Claws, you can rest assured your pets are in the best, most qualified
                hands in the business. Since 2010, we have been providing fun and dependable
                pet care services that you can count on.
            </p>
            <p>(factitious site created for Final Project at Centriq Training.)</p>
            <h3 class="headerThree">Putting Your Pet's Safety First</h3>
            <p>
                Paws n' Claws takes every step necessary to ensure your pets are well cared for.
                We treat all our guests as if they are our own and provide individualized attention
                and care to keep your pet happy.
            </p>
            <h3 class="headerThree">You can be assured your pet will taken care of</h3>
            <p>
                Our staff are fully trained in pet behavior and certified in pet first aid.
                Our facilities are monitored 24/7.  We provide daily report cards on your pets
                day so you can know how much fun they are having with us.
            </p>
            <h3 class="headerThree">More than just a service</h3>
            <p>
                Paws n' Claws is much more than just a pet daycare or
                boarding facility. We are your partners in making sure your beloved pet gets
                the care and attention they deserve. Our pets bring us so much joy, are always
                there for us when we need them and are instant stress-relievers and we are here
                to return the favor. Our team strives to enhance our guests
                quality of life, provide them with countless socialization opportunities,
                and offer all-day play indoors and outdoors.
            </p>
            <h3 class="headerThree">Supporting Pets in Need</h3>
            <p>
                Our employees sell homemake pet treats and handmand toys at our facility.
                Paws n' Claws donates a percentage of the proceeds to local animal shelters
                and animal rescues each month.
            </p>
            <h3 class="headerThree"></h3>
            <p>
                <a href="@Url.Content("~/Content/JenMCookfinaldocumentation.pdf")" target="_blank">Project Documentation</a>
            </p>
        </div>
    </article>
    <!-- /Article -->
    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right" id="aboutSidebar">

        <div class="widget" id="aboutWidget">
            <h3 class="listSubheader">Our Services</h3>
            <ul class="list-unstyled list-spaces">
                <li>
                    <a href="">Pet Day Care</a><br><span class="small text-muted">
                        Treat your dog to a fun and active day!
                    </span>
                </li>
                <li>
                    <a href="">Overnight Boarding</a><br><span class="small text-muted">
                        Paws n' Claws offers safe, fun, and trustworthy boarding services.
                    </span>
                </li>
                <li>
                    <a href="">Pet Sitting</a><br><span class="small text-muted">
                        When you can’t be home for your pets, we have you covered.
                    </span>
                </li>
                <li>
                    <a href="">Pet Taxi</a><br><span class="small text-muted">
                        Providing transportation for pets to veterinary or grooming appointments.
                    </span>
                </li>
                <li>
                    <a href="">Dog Walking</a><br><span class="small text-muted">
                        We can schedule regular dog walks to give your dog the exercise they need.
                    </span>
                </li>
            </ul>
            <img src="~/Content/assets/images/site/aboutpagedogpool.jpg" alt="dogs in swimming pool"
                 class="img-rounded" width="400" height="300" id="aboutPic">
        </div>

    </aside>
    <!-- /Sidebar -->
</div>



