
@{
    ViewBag.Title = "Four Convenient Locations";
}

<h1 class="listSubheader" id="locationheader">@ViewBag.Title</h1>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="servicesData">
            <div class="servicesName"><h2 class="listSubheader" id="listSubheader">Paws n' Claws Boarding</h2></div>
            <div class="svcDetail">9209 N. Cranbrook Pleasant Ave</div>
            <div class="svcDetail">Kansas City, MO 64127</div>
            <div class="svcDetail"><span class="svcContact">Phone:</span> (816) 834-1558</div>
            <div class="svcDetail"><span class="svcContact">Email:</span> pawsnclaws@pandcpetservice.net</div>
        </div>
        <div class="svcImage"><img src="~/Content/assets/images/site/locationpawsnclaws.jpg" alt="dog kennels and dog swimming pool" /></div>
    </div>
    
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="svcImage"><img src="~/Content/assets/images/site/locationpawsup.jpg" alt="overhead view of indoor pet play area" /></div>
        <div class="servicesData">
            <div class="svcDetail"><h2 class="listSubheader" id="listSubheader">Paw's Up Pet Service</h2></div>
            <div class="svcDetail">391 Larkspur Square</div>
            <div class="svcDetail">Shawnee, KS 66206</div>
            <div class="svcDetail"><span class="svcContact">Phone:</span> (913) 647-8815</div>
            <div class="svcDetail"><span class="svcContact">Email:</span> pawsup@pawsup.com</div>
        </div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="servicesData">
            <div class="servicesName"><h2 class="listSubheader" id="listSubheader">Wag's n' Whiskers</h2></div>
            <div class="svcDetail">5158 E. Yessell Lane</div>
            <div class="svcDetail">Liberty, MO 64068</div>
            <div class="svcDetail"><span class="svcContact">Phone:</span> (816) 348-9475</div>
            <div class="svcDetail"><span class="svcContact">Email:</span> wagsnwhiskers@wagsnwhiskers.com</div>
        </div>
        <div class="svcImage"><img src="~/Content/assets/images/site/locationwags.jpg" alt="pet room with beds and toys" /></div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="svcImage"><img src="~/Content/assets/images/site/locationpawsitively.jpg" alt="cat room with climbing shelves"/></div>
        <div class="servicesData">
            <div class="svcDetail"><h2 class="listSubheader" id="listSubheader">Pawsitively Purrfect Cat Boarding</h2></div>
            <div class="svcDetail">198 Hammerton Grove</div>
            <div class="svcDetail">Spring Hill, KS 66083</div>
            <div class="svcDetail"><span class="svcContact">Phone:</span> (913) 270-2435</div>
            <div class="svcDetail"><span class="svcContact">Email:</span> pawsitively@purrfect.net</div>
        </div>
    </div>
</div>
