@{
    ViewBag.Title = "Frequently Asked Questions";
}
<div class="clearfix"></div>
<div id="faqContainerLeft">
    <h2 class="listHeader">@ViewBag.Title</h2>
    <h3 class="headerThree">You’ve Questions, We’ve Answers</h3>
    <p id="faqStmt">
        <img src="~/Content/assets/images/site/faq.jpg" alt="puppies and kittens"
             id="faqPic"> 
        <div class="clearfix"></div>
        Deciding to trust someone with taking care of your pet is a big
        decision to make. Paws n' Claws strives to be transparent and provide you with every
        bit of information you need to know your pet will be taken care of. Many of our
        prospective customers have similar questions, so we’ve compiled a list of the ones that
        are asked most often. Feel free to explore our answers below, and if you
        have any additional questions or concerns, please don’t hesitate to reach out to us.
    </p>

    <div id="accordion">
        <h3 class="headerThree">What is pet daycare?</h3>
        <div>
            <p>
                Pet daycare is a place where you can drop off your pet for the day so they
                can play with their furry friends and in supervised, clean, safe and fun environment.
                Daycare provides the pet with regular exercise and socialization with other pets and
                people.  Our daycare helps relieve separation anxiety, boredom and destructive
                behavior at home and increases your pet's overall happiness.
            </p>
        </div>
        <h3 class="headerThree">What do pets do all day in daycare?</h3>
        <div>
            <p>
                They play! They exercise! They have fun! We have separate areas for dogs and
                cats to interact with their own species.  We evaluate the pets first and separate them
                based on size, temperament and activity level.  Our facility has both indoor and outdoor
                areas and features a fully enclosed "catio" that allows cats the option to be outside
                and enjoy the weather as much as our dog guests.  Our staff plays with the pets and
                keeps an eye on them regularly.  We provide enrichment toys and games so your pet
                leaves happy.
            </p>
        </div>
        <h3 class="headerThree">What if my pet needs medications?</h3>
        <div>
            <p>
                Our staff is trained to administer your pet's oral or topical medications at
                no additional cost. We just ask that you provide detailed instructions on how much
                and how often the medication is needed.  We will not accept any medications that are
                not in their original prescription bottles or containers.  Unfortunately, we do not
                administer injections.
            </p>
        </div>
        <h3 class="headerThree">My pet is older will they enjoy this environment?</h3>
        <div>
            <p>
                If your older pet is not active or is a bit grumpy in their old age, we
                offer many quieter rooms that they can enjoy simply relaxing.  We often have
                several older guests that keep our office staff company where they can enjoy
                lots of attention without the noise and activity of the play yards.
            </p>
        </div>
        <h3 class="headerThree">Do the dogs get hurt playing?</h3>
        <div>
            <p>
                Just like kids on a playground, the dogs sometimes get small scratches and other
                minor injuries.  We do our best to prevent all injuries but sometimes our guests
                may experience small nicks, scratches and minimal fur loss.  Although it is very rare
                and we operate with high safety standards, it is possible for injuries to occur.
                We do ask that each pet has their veterinarian on file in case a more serious injury
                occurs.  We will contact you if we feel they need a veterinarian.
            </p>
        </div>
        <h3 class="headerThree">Can I view the facility before making a decision?</h3>
        <div>
            <p>
                You sure can! We’d love to have you stop by and check us out.
                No need to call ahead or book an appointment—just stop by during our
                business hours. We’ll be happy to show you around and answer your questions.
            </p>
        </div>
        <h3 class="headerThree">Do you allow any dog at the daycare?</h3>
        <div>
            <p>
                Since the dogs will be interacting with other dogs, its important that each
                dog is well socialized, meaning they get along well with other dogs and people.
                We do not allow dogs less than 6 months old. All dogs must be spayed or neutered.
                Your dog must be current on their Rabies, Distemper and Bordetella vaccines. Be
                flea/tick-free and in overall good health.
            </p>
        </div>
        <h3 class="headerThree">Are all dog breeds welcome?</h3>
        <div>
            <p>
                As much as we would love to welcome all dog breeds, we may have to deny certain
                breeds depending on City Ordinances and Insurance Policies for each location.
            </p>
        </div>
        <h3 class="headerThree">Do I need to make a reservation?</h3>
        <div>
            <p>
                We require reservations our services, however a few locations do not ask
                you to make a reservation for pet daycare though it is a polite courtesy.
                Reservations allow us to anticipate how many pets will be in our care to
                provide them with the best experience possible.
            </p>
        </div>
        <h3 class="headerThree">How do I make a reservation?</h3>
        <div>
            <p>
                If you area  registered user, you can click the "Make Reservation" link located
                in "Your Account".  Once you have created the reservation we will be in touch with
                you.  We may ask for additional information to finalize your reservation.
            </p>
        </div>
        <h3 class="headerThree">What if I need to cancel my reservation?</h3>
        <div>
            <p>
                If you need to cancel your reservation, please contact us before your reservation
                date.  Cancellations made the day of your reservation may face a $10 penalty fee per pet.
            </p>
        </div>
        <h3 class="headerThree">When can I drop off and pick up my pet?</h3>
        <div>
            <p>
                Any pet being boarded overnight can be dropped off and picked up during normal operating hours.
                We do suggest that boarded pets be dropped off before 4 p.m. to give them time to
                play and eat before bedtime.  Pets in daycare can be dropped off in the morning between 6:30 and 10:00 a.m.
                and picked up anytime before 6 p.m.
            </p>
        </div>
        <h3 class="headerThree">Do I need to bring my pet's food, bed or toys?</h3>
        <div>
            <p>
                We highly recommend that you bring your dog's food (enough for the
                length of their stay) to prevent upset stomach from a sudden change in diet.
                You do not need to bring bedding, we provide each pet with comfy cots and fleece blankets
                for the bedding.  You can bring a few toys that the pet can have in their night kennel.
            </p>
        </div>
        <h3 class="headerThree">Can I check on my pet?</h3>
        <div>
            <p>
                You can contact us anytime during your pets stay and we will let you know
                how they are doing. We also provide a daily report that we send home with the pet
                so you know what they did all day and what friends they made.
            </p>
        </div>
        <h3 class="headerThree">Do you have any live webcams that I can watch my pet?</h3>
        <div>
            <p>
                At this time we do not have live webcams.  We are planning to add them within the
                next year so that you will be able to see your pet in our play yards and access the
                views on your mobile device.
            </p>
        </div>
        <h3 class="headerThree">What is a "catio"?</h3>
        <div>
            <p>
                A catio is a completely enclosed outdoor space that your cat can enjoy being outside.
                The enclosed space allows the cats to enjoy the fresh air and sun in safety. The cats in
                our care can access the catio from their indoor play area. Our catio features plenty of
                climbing activities, scratching posts, a small fountain, hammocks and lots of space
                to explore.
            </p>
        </div>
        <h3 class="headerThree">Tell me more about the dog-walking service.</h3>
        <div>
            <p>
                We will meet with you and your pet to determine your schedule and your dog's energy
                level.  We walk the dog between 1-3 times a day at the owner's convenience.  The benefit
                is to help keep your dog happy and healthy with the extra exercise.  We offer discounts
                on this service for our elderly or disabled customers. Our dog-walkers have a complete
                background check and training in dog handling.
            </p>
        </div>
        <h3 class="headerThree">What is the Pet Taxi?</h3>
        <div>
            <p>
                We get your pet were they need to be. Our Pet Taxi service provides transportation
                for your pet to and from boarding facilities, groomers and veterinarians. We transport
                to and from airports, rent airline approved carriers and can even arrange to pick up
                or deliver your pet for you. Restrictions do apply, contact us for more details.
            </p>
        </div>
        <h3 class="headerThree">What is In-Home Pet Sitting?</h3>
        <div>
            <p>
                It is an alternative way for your pet to be cared for while you are on vacation,
                in the hospital or for any other reason where you may not be able to take your pet.
                In-home pet sitting is a less stressful way for your pet to be looked after if they
                do not do well around other pets or not do well in overnight boarding facilities.
                We watch your pet(s) in their own home.  We work based on the schedule you provide
                and feed, walk, clean litter boxes and play with your pets during our time that we are
                in your home.
            </p>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section Scripts{
    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true,
                active: false,
                navigation: true,
                autoHeight: false,
                heightStyle: "content"
            });
        });    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


