@{
    ViewBag.Title = "Services We Provide";
}

<h1 class="listSubheader" id="serviceHeader">@ViewBag.Title</h1>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="servicesName"><h2 class="listSubheader">Boarding</h2></div>
        <div class="servicesData">
            <div><img class="paw" src="~/Content/assets/images/paw.png"/> Drop Off and Pick-up during regular business hours.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png"/> Cost varies by pet size.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Pets stay in play areas and have spacious kennels at night.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Several outdoor and indoor play areas for our pet to enjoy.</div>
        </div>
        <div class="svcImage"><img src="~/Content/assets/images/site/indoorplay.jpg" alt="large indoor play area with dogs"/></div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="svcImage"><img src="~/Content/assets/images/site/InHousePetSitting.jpg" alt="white dog on striped chair"/></div>
        <div class="servicesData">
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Our trained sitters will work with the schedule you set.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Cost is $15 each pet per each visit.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We will care for your pet with scheduled visits to your home.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Less stressful for pets that don't like the boarding environment.</div>
        </div>
        <div class="servicesName"><h2 class="listSubheader">In-Home Pet Sitting</h2></div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="servicesName"><h2 class="listSubheader">Pet Daycare</h2></div>
        <div class="servicesData">
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Drop Off and Pick-up during regular business hours.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Cost varies depending on pet.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Pets enjoy indoor or outdoor play areas to burn off excess energy.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Your pet is well supervised in a safe and fun environment.</div>
        </div>
        <div class="svcImage"><img src="~/Content/assets/images/site/petdaycare.jpg" alt="dogs running toward camera" /></div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="svcImage"><img src="~/Content/assets/images/site/dogwalking.jpg" alt="french bulldogs on leashes" /></div>
        <div class="servicesData">
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We will come out 2-3 times a day to walk your dog for you!</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We charge $25 a dog per day.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Your dog will enjoy the extra exercise.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We offer discounts for elderly or disabled customers.</div>
        </div>
        <div class="servicesName"><h2 class="listSubheader">Daily Dog Walking</h2></div>
    </div>
</div>

<div class="svcHeaderContainer">
    <div class="svcHeader">
        <div class="servicesName"><h2 class="listSubheader">Pet Taxi</h2></div>
        <div class="servicesData">
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We work with your schedule to get your pet where they need to be.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Cost varies depending on distance traveled and size of pet.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> We transport your pet within the greater Kansas City Metro.</div>
            <div><img class="paw" src="~/Content/assets/images/paw.png" /> Take the hassle out of pet appointments and let us be your pets driver.</div>
        </div>
        <div class="svcImage"><img src="~/Content/assets/images/site/pettaxisrv.jpg" alt="black and red pet taxi van" /></div>
    </div>
</div>
